/* main--first 시작 */
.main__first-img {
    display: flex;
    justify-content: flex-end;
    margin: 0 20px;
    position: relative;
    object-fit: cover;
}

.main__first-img img{
    width: 70%;
    height: 500px;
    border-radius: 10px;
}

.main__choose{
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 12px;
    top: 20vh;
    background-color: #FFFFFF;
    height: 300px;
    width: 50vh;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.main__choose__title {
    display: flex;
    flex-direction: column;
    gap: 10px; /* 제목과 설명 사이 간격 추가 */
    margin-bottom: 15px; /* 제목과 폼 사이 간격 추가 */
}

.main__choose__title p{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);

}

.location__input{
    width: 303px;
}

.main__choose__location{
    display: flex;
    justify-content: space-between;
    gap: 10px; /* 체크인과 체크아웃 사이 간격 */
    margin-top: 10px; /* 위쪽 간격 */
}

.main__choose__title--main{
    font-size: 27px;
    font-weight: 600;
}

.search__btn{
    width: 100%;
    background-color: #DB1063;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin-top: 15px; /* 위쪽 간격 추가 */
}
/* main--first 끝 */


/* main--star시작 */
.main__star{
    margin-top: 50px;
    padding-left: 20px;
}

.star__title{
    font-size: 20px;
}

.main__star__container{
    display: flex;
    flex-direction: column;
}


.main__star__container p{
    margin-top: 10px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}


.star__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* 아이템이 균등하게 배치되도록 */
    gap: 15px; /* 아이템 사이의 간격 */
}

.star__item {
    flex-basis: 23%; /* 4개씩 배치 (100% / 4 - gap 고려) */
    max-width: 23%;
    box-sizing: border-box;
}

.star__item:hover{
    transform: scale(0.9);
}

.star__item__img--1{
    width: 100%;
    height: 180px; /* 고정 높이 설정 */
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 10px;
}

.star__item--1{
    width: 100%;
    
}

.img__reply__profile{
    font-size: 12px;
}

.img__reply__content{
    font-size: 14px;
}
